<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoSort"
        tools:targetApi="31">
        <activity
            android:name=".BinListActivity"
            android:exported="true" />
        <activity
            android:name=".BinDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".CameraScanActivity"
            android:exported="true" />
        <activity
            android:name=".NearestActivity"
            android:exported="true" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".ReportActivity"
            android:exported="true" />
        <activity
            android:name=".BinImageActivity"
            android:exported="true" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Utils.CaptureActivityPortrait"
            android:screenOrientation="fullSensor"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC39Sd0p1yi4J9KY_uTB1hVdqc3NiuL57g"/>
    </application>

</manifest>